.contactExpanded {
    /* display: flex;
    flex-direction: column;
    color: #014f86;
    border: 1px solid #014f86;
    width: 80vw;
    border-radius: 10px;
    background: rgba(255, 255, 255, .5);
    margin: 20px 0 0 40px;
    align-items: center; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #014f86;
    border: 1px solid #014f86;
    width: 80vw;
    border-radius: 10px;
    background: rgba(255, 255, 255, .5);
    margin: 20px 0 0 40px;
    justify-content: center;
}

.contactExpanded > a{
    transition: transform ease 300ms;
}

.contactExpanded > a:hover{
    transform: translate(0, -5px);
}

.contactExpanded > li {
    /* padding: 5px; */
    margin: 25px;
    color: #014f86;
    text-align: center;
}

.contactExpandedIcon {
    height: 50px;
    width: auto;
    color: #014f86;
}

.contactExpandedHead {
    text-align: center;
    color: #014f86;
}