.contactExpanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 18, 18);
}

.contactExpandedContent {
    display: flex;
    align-items: center;
    flex-direction: row;
    opacity: 0.8;
}

.contactUnit {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px;
}

.contactExpandedIcon {
    height: 50px;
    width: auto;
    color: #4646c7;
}

.contactExpanded a{
    transition: transform ease 300ms;
}

.contactExpanded a:hover{
    transform: translate(0, -5px);
}