.contact {
    left: 1%;
    bottom: 0;
    padding-top: 55%;
    position: fixed;
    margin-top: 0;
}

.vertLine {
    border-left: 2px solid #014f86;
    margin: 5px 0 0 10px;
    height: 200px;

}

.icon{
    margin: 8px 0 8px 0;
    transition: transform ease 300ms;
}

.icon:hover {
    fill: white;
    transform: translate(0, -5px);
}

