.gitContributions {
  margin-top: -20px;
}
.gitContainer {
  display: flex;
  flex-direction: column;
}

.gitContributions h6 {
    margin-top: 0;
    margin-left: 20px;
    color: #014f86;
  }
  
  .contributionsImage {
    width: 80vw;
  }

  .contributionsTag {
    color: white;
    margin-bottom: 0;
  }
