
.gitContainer {
  color: white;
  opacity: 0.8;
}

.gitContributions h6 {
    margin-top: 0;
    margin-left: 20px;
    color: white;
  }
  
  /* .contributionsImage {
    width: 50vw;
  } */

  .contributionsTag {
    color: white;
    width: fit-content;
    margin-bottom: 0;
  }

  @media screen and (max-width:940px) {
    .contributionsImage {
      width: 80vw;
    }
}

@media screen and (max-width:600px) {
  .gitContainer {
      display: none;
  }
}
