
.gitContainer {
  display: flex;
  flex-direction: column;
  /* position: absolute;
  bottom: 0;
  right: 0; */
}

.gitContributions h6 {
    margin-top: 0;
    margin-left: 20px;
    color: #c9c9cc;
    opacity: 0.5;
  }
  
  .contributionsImage {
    width: 80vw;
  }

  .contributionsTag {
    color: white;
    margin-bottom: 0;
  }
