.header {
    position: fixed;
    height: 90px;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
}

.avatar {
    margin-top: 50px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
}

.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
}

.header .nav-item a:hover {
    color: #014f86;
}

.resumeButton {
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: -5px 0 0 5px;
}

.resumeButton:hover {
    color: #014f86;
    border: 1px solid #014f86;
    cursor: pointer;
}

.hamburger {
    display: none;
}

@media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        /* background-color: rgba(0,0,0,.9); */
        /* width: 100vw; */
    }

    .header .navbar {
        max-width: 100%;
    }
    
    .hamburger {
        display: block;
        margin: 15px 10px 0 0;
        cursor: pointer;
    }

    .nav-menu {
        color:#014f86;
        position: fixed;
        right: -100%;
        top: 5rem;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        width: 100px;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .3s;

    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        margin: 0 50px 0 0;
    }

    .nav-item:hover {
        color:darkgray;
    }

    .resumeButton {
        margin: 0 ;
        color:#014f86;
        border: 1px solid #014f86;
    }

    .resumeButton:hover{
        color:darkgray;
        border: 1px solid darkgray;
    }

    .avatar {
        width: 50px;
        height: 50px;
    }
}