.projectsContent {
    border: 1px solid transparent;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #014f86;
    background: rgba(255, 255, 255, .5);
    color: #014f86;
    border-radius: 10px;
    width: 70vw;
    height: fit-content;
    margin: 20px 15vw 0 15vw;
    padding: 10px;
}

.projects h1 {
    transition: transform ease 300ms;
}

.projects h1:hover {
    transform: translate(0, -5px);
}

.projects h5 {
    margin: 0;
}

.description {
    text-align: center;
}

.HPImages > img, .mockStockImages > img, .recipeImages > img , .alumniNetworkImages > img{
    border-radius: 10px;
    width: 25vw;
    height: 25vh;
    margin: 5px;
}

.octocat {
    height: 8vh;
    margin-top: 20px;
    transition: transform ease 300ms;
}

.octocat:hover{
    transform: translate(0, -5px);
}

.multiCat {
    display: block;
    width: 60vh;
}

.secondOctocat {
    float: right;
}

.projectImages {
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
}

.divider {
    background-color: #014f86;
    height: 2px;
    border: none;
    width: 75vw;
}

@media screen and (max-width:940px){
    .projects > h1 {
        font-size: 25px;
    }

    .projects > h5 { 
        text-align: center;
        margin: 0 5px 0 5px;
    }

    .images > img{
        width: 60vw;
        display: flex;
        flex-direction: column;
        margin: 3px;
    }

    .multiCat {
        width: 25vh;
    }
}