.skills {
    border: 1px solid transparent;
}

.skillsContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #014f86;
    width: 70vw;
    border-radius: 10px;
    background: rgba(255, 255, 255, .5);
    margin: 30px 15vw 0 15vw;
    justify-content: center;
}

.skills li{
    margin: 25px;
    color: #014f86;
    text-align: center;
}

.skillsIcon {
    height: 50px;
    width: auto;
    color: #014f86;
}

@media screen and (max-width:940px) {
   
  }