.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 18, 18);
}

.skillsContent {
    display: flex;
    align-items: center;
    opacity: 0.8;
}

.skillUnit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.skillsIcon {
    height: 50px;
    width: auto;
    color: #4646c7;
}

.skillsP {
    display: none;
}

@media screen and (max-width:940px) {
   .skillsP {
    display:block;
    text-align: center;
   }
  }