.title {
   margin-left: 10vh;
}

.title h1 {
    font-size: 60px;
}

.name{
    color: #4646c7;
    opacity: 0.7;
}

@media screen and (max-width:940px) {
    .title h1 {
        font-size: 30px;
    }
}