.title {
   left: 0;
   margin-bottom: 70vh;
}

.title h1 {
    font-size: 60px;
}

.name{
    color: #014f86;
}

@media screen and (max-width:940px) {
    .title h1 {
        font-size: 40px;
    }
    
    .title {
        margin-left: -30px;
    }
}